@font-face {
    font-family: Inter;
    src: url(../font/Inter-ExtraLight.woff);
    font-weight: 100;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-Light.woff);
    font-weight: 200;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-Thin.woff);
    font-weight: 300;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-Regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-SemiBold.woff);
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-Bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-ExtraBold.woff);
    font-weight: 800;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-Black.woff);
    font-weight: 900;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-UltraLight.woff);
    font-weight: 100;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-UltraLightItalic.woff);
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-Light.woff);
    font-weight: 200;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-LightItalic.woff);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-Thin.woff);
    font-weight: 300;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-ThinItalic.woff);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-Regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-SemiBold.woff);
    font-weight: 500;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-SemiBoldItalic.woff);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-Heavy.woff);
    font-weight: 600;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-HeavyItalic.woff);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-Bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-BoldItalic.woff);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-Black.woff);
    font-weight: 900;
}
@font-face {
    font-family: Aileron;
    src: url(../font/Aileron-BlackItalic.woff);
    font-weight: 900;
    font-style: italic;
}